
* {
  cursor: url('/assets/images/icons/cursor.png'), auto;
}

body {
  background-color: #161616;
}

.noise::before {
  content: "";
  position: fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
  opacity: .05;
  z-index: -2;
  pointer-events: none;
  background-image: url('/assets/gifs/noise.gif');
}