@use '../themes' as *;



// ==== Responsive Font Sizes ====
@mixin font-size($size, $sizevw) {
  @if $size >= 36 {
    font-size: clamp($size / 1.6 * .2 * 1/3, $sizevw / 1.6 * .1, $size / 1.6 * .1);
  }
  @else if $size >= 24 {
    font-size: clamp($size / 1.6 * .225 * 1/3, $sizevw / 1.6 * .1, $size / 1.6 * .1);
  }
  @else {
    font-size: clamp($size / 1.6 * .275 * 1/3, $sizevw / 1.6 * .05, $size / 1.6 * .2);
  }
}


// === Default classes to use in HTML ===
.font-size-128 {
  @include font-size(128rem, 128vw);
} 
.font-size-96 {
  @include font-size(96rem, 96vw);
} 
.font-size-84 {
  @include font-size(84rem, 84vw);
} 
.font-size-72 {
  @include font-size(72rem, 72vw);
} 
.font-size-64 {
  @include font-size(64rem, 64vw);
} 
.font-size-56 {
  @include font-size(56rem, 56vw);
} 
.font-size-48 {
  @include font-size(48rem, 48vw);
} 
.font-size-40 {
  @include font-size(40rem, 40vw);
} 
.font-size-36 {
  @include font-size(36rem, 36vw);
} 
.font-size-32 {
  @include font-size(32rem, 32vw);
} 
.font-size-28 {
  @include font-size(28rem, 28vw);
} 
.font-size-24 {
  @include font-size(24rem, 24vw);
} 
.font-size-22 {
  @include font-size(22rem, 22vw);
} 
.font-size-20 {
  @include font-size(20rem, 20vw);
} 
.font-size-18 {
  @include font-size(18rem, 18vw);
} 
.font-size-16 {
  @include font-size(16rem, 16vw);
} 
.font-size-14 {
  @include font-size(14rem, 14vw);
} 
.font-size-12 {
  @include font-size(12rem, 12vw);
} 
.font-size-10 {
  @include font-size(10rem, 10vw);
} 
.font-size-8 {
  @include font-size(8rem, 8vw);
} 

// === Fonts ===
$heading-font: sans-serif;
$button-font: sans-serif;
$body-font: sans-serif;

.heading-font {
  font-family: $heading-font;
}
.button-font {
  font-family: $button-font;
}
.body-font {
  font-family: $body-font;
}


// ==== Text Styling ====
// html {
//   font-size: 62.5%;
// }

h1, h2, h3, h4, h5, h6 {
  // Headings tend to look better with smaller line-height:
  line-height: 120%;
  font-family: $heading-font;
}

// === Default Element Font Sizes ===
// == Headings ==
h1 {
  @include font-size(72rem, 72vw);
}
h2 {
  @include font-size(64rem, 64vw);
}
h3 {
  @include font-size(48rem, 48vw);
}
h4 {
  @include font-size(36rem, 36vw);
}
h5 {
  @include font-size(28rem, 28vw);
}
h6 {
  @include font-size(24rem, 24vw);
}

// == Body Text ==
p, a, b, strong, em, i, button, mark, select, blockquote, input {
  @include font-size(16rem, 16vw);
  // Sets line-height for all non-heading text:
  line-height: 140%;
  font-family: $body-font;
}