---

// Importing data
import pageData from '../data/pageData.json';

// Importing components
import Layout from "../layouts/Layout.astro";
import Button from "../components/interactive/Button.vue";
import { Icon } from 'astro-icon';
import Hero from '../components/index/Hero.vue';
import Marquee from '../components/index/Marquee.vue';
import LibraryItems from '../components/index/LibraryItems.vue';


// Importing local SCSS
import '../sass/p_homepage/index.scss';


let currentPage = pageData[0].pageName;

---

<Layout title={'Jacob Carter\'s Digital Portfolio'} page={currentPage} >
	<!-- HTML content -->
	
	<!-- Hero Section -->
	<Hero />

	<!-- Marquee -->
	<Marquee />

	<section class="mt-40">

		<article class="wrapper px-4">
			<img src="/assets/images/photos/jacobcarterheadshot-1.jpg" alt="photo of jacob carter sitting on stairs">

			<h2 class="display-font text-stone-100 font-size-96 my-8">01/</h2>

			<p class="text-stone-200 font-size-20 z-10">
				Hello!
				<img src="/assets/images/photos/pill-hello.png" alt="picture of an interior" class="inline mx-2 h-8">
				I’m Jacob, an experienced <strong class="font-size-20">web designer</strong> and <strong class="font-size-20">developer</strong> based in Gloucestershire, England
				<img src="/assets/images/photos/pill-gloucestershire.png" alt="picture of gloucestershire, england countryside" class="inline mx-2 h-8">
				who loves designing beautiful
				<img src="/assets/images/photos/pill-design.png" alt="" class="inline mx-2 h-8">
				websites (almost as much as my <strong class="font-size-20 ">morning coffee</strong>).
			</p>
			<p class="text-stone-200 font-size-20 z-10 mt-8">
				With a background in interior design, 
				<img src="/assets/images/photos/pill-interiordesign.png" alt="picture of an interior" class="inline mx-2 h-8">
				I love to make websites that don’t just function brilliantly, but <strong class="font-size-20">look gorgeous</strong> too.
			</p>

			<div class="blur-container-1 aspect-square flex justify-between items-center absolute">
				<div class="yellow-blur"></div>
				<div class="yellow-blur"></div>
			</div>

		</article>


	</section>

	<!-- Services Section -->
	<section class="mt-36">
		<article class="wrapper px-4">

			<h2 class="display-font text-stone-100 font-size-96">02/</h2>
			<h2 class="text-white font-size-96">Services</h2>
			
			<!-- web design -->
			<div>
				<video src="" loop autoplay muted class="aspect-video text-white w-full">Your browser does not support video 😥</video>

				<div>
					<h3 class="text-white font-size-72">
						Design
					</h3>
					<p class="text-white mt-8 font-size-18">
						I always aim to give the client as close of a representation of the final product as possible, taking into account all screen sizes, accessibility and practicalities.
						<br>
						<br>
						Figma lets me bring loose concepts to life. I add as much interactivity and animation to the initial prototype as possible.
					</p>
				</div>
			</div>

			<!-- web development -->
			<div class="mt-16">
				<!-- <video muted autoplay loop class="w-full">
					<source src="../assets/videos/codingmontage.mp4" type="video/mp4">
					Your browser does not support video.
				</video> -->
				<img src="/assets/videos/codingmontage.gif" alt="">

				<div>
					<h3 class="text-white font-size-72">
						development
					</h3>
					<p class="text-white mt-8 font-size-18">
						Development of the website can often be the most daunting part of the process, especially when it comes to communicating with clients. I never want to scare the client with <strong class="font-size-18">fancy tech jargan</strong> (that doesn’t really mean anything).
						<br>
						<br>
						I find the development of the website an engaging and thrilling process, where I can act out my <strong class="font-size-18">coding montage</strong>. Resisting my urge to nerd-out on any poor soul that happen to be in earshot, I discuss progress in an understandable and meaningful way throughout the process.
						<br>
						<br>
						After using countless website builders, such as WordPress, Shopify, and Squarespace, I came to the conclusion that coding websites from scratch would give me the most flexibility and creative freedom to get the job done.
					</p>
				</div>
			</div>

		</article>
	</section>

	<section class="mt-40">
		<article class="px-4 wrapper">
			<h2 class="display-font text-stone-100 font-size-96">03/</h2>
			<h2 class="text-stone-100 font-size-96 mb-8" id="library">Library</h2>

			<LibraryItems />
		</article>
	</section>


</Layout>