---

// Importing data
import pageData from '../data/pageData.json';

// Importing components
import Layout from "../layouts/Layout.astro";
import Button from "../components/interactive/Button.vue";
import { Icon } from 'astro-icon';
import Hero from '../components/index/Hero.vue';
import Marquee from '../components/index/Marquee.vue';


// Importing local SCSS
import '../sass/p_homepage/index.scss';


let currentPage = pageData[0].pageName;

---

<Layout title={'Jacob Carter\'s Digital Portfolio'} page={currentPage} >
	<!-- HTML content -->
	
	<!-- Hero Section -->
	<Hero />

	<!-- Marquee -->
	<Marquee />

	<section class="mt-40">

		<article class="wrapper px-4">
			<img src="/assets/images/photos/jacobcarterheadshot-1.jpg" alt="photo of jacob carter sitting on stairs">

			<h2 class="display-font text-stone-100 font-size-96 my-8">01/</h2>

			<p class="text-stone-200 font-size-18 z-10">
				Hello! I’m Jacob, an experienced <strong>web designer</strong> and <strong>developer</strong> based in Gloucestershire, England
				<img src="/assets/images/photos/pill-gloucestershire.png" alt="" class="inline mx-2">
				who loves designing
				<img src="/assets/images/photos/pill-design.png" alt="" class="inline mx-2">
				beautiful websites (almost as much as my morning coffee
				<img src="/assets/gifs/coffee.gif" alt="" class="w-16 inline">
				).
			</p>
			<p class="text-stone-200 font-size-18 z-10 mt-8">
				With a background in <strong>interior design</strong>, 
				<img src="/assets/images/photos/pill-interiordesign.png" alt="" class="inline mx-2">
				I love to make websites that don’t just function brilliantly, but look gorgeous too.
			</p>

			<div class="blur-container-1 aspect-square flex justify-between items-center absolute">
				<div class="yellow-blur"></div>
				<div class="yellow-blur"></div>
			</div>

		</article>


	</section>

</Layout>