---

// Importing data
import pageData from '../data/pageData.json';

// Importing components
import Layout from "../layouts/Layout.astro";
import Button from "../components/interactive/Button.vue";
import { Icon } from 'astro-icon';
import Hero from '../components/index/Hero.vue';
import Marquee from '../components/index/Marquee.vue';
import LibraryItems from '../components/index/LibraryItems.vue';
import PillImage from '../components/index/PillImage.vue';


// Importing local SCSS
import '../sass/p_homepage/index.scss';


let currentPage = pageData[0].pageName;

---

<Layout title={'Jacob Carter\'s Digital Portfolio'} page={currentPage} >
	<!-- HTML content -->
	
	<!-- Hero Section -->
	<Hero client:visible />

	<!-- Marquee -->
	<Marquee />

	<section class="mt-40 lg:mt-64">

		<article class="px-4 md:px-16 wrapper lg:px-0 lg:flex lg:items-center">
			<img src="/assets/images/photos/jacobcarterheadshot-1.jpg" alt="photo of jacob carter sitting on stairs" class="lg:w-2/5">

			<div class="lg:w-3/5 lg:ml-8 lg:mt-0 lg:mb-12">
				<h2 class="display-font text-stone-100 font-size-96 my-8 md:my-12 lg:mt-0 lg:mb-12">01/</h2>

				<div class="relative">
					<p class="text-stone-200 font-size-20 z-10 md:w-4/5 relative">
						Hello!
						<PillImage imgAlt="Picture of computer with hello written on it" imgName="hello" />
						I’m Jacob, an experienced <strong class="font-size-20">web designer</strong> and <strong class="font-size-20">developer</strong> based in Gloucestershire, England
						<PillImage imgAlt="Picture of the Gloucestershire, England countryside" imgName="gloucestershire" />
						who loves designing beautiful
						<PillImage imgAlt="Picture of abstract colors" imgName="design" />
						websites (almost as much as my <strong class="font-size-20 ">morning coffee</strong>).
						<br>
						<br>
						With a background in interior design, 
						<PillImage imgAlt="Picture of modern architecture" imgName="interiordesign" />
						I love to make websites that don’t just function brilliantly, but <strong class="font-size-20">look gorgeous</strong> too.
						
					</p>
					<div class="blur-container-1 aspect-square flex justify-between items-center absolute">
						<div class="yellow-blur"></div>
						<div class="yellow-blur"></div>
					</div>
				</div>
			</div>


		</article>


	</section>

	<!-- Services Section -->
	<section class="mt-36">
		<article class="wrapper lg:px-0 px-4 md:px-16 lg:flex lg:flex-wrap lg:items-end">
			<div class="w-full">
				<h2 class="display-font text-stone-100 font-size-96 ">02/</h2>
				<h2 class="text-white font-size-96 lg:hidden">Services</h2>
			</div>
			
			<div class="lg:w-1/6 lg:top-0 lg:left-0 sticky lg:self-start">
				<h2 class="text-white font-size-96 -rotate-90 origin-bottom hidden lg:block lg:mt-64">Services</h2>
			</div>

			<div class="lg:w-5/6">

				
				<!-- web design -->
				<div class="mt-8 md:mt-12">
					<video autoplay loop muted playsinline>
						<source src="/assets/videos/figmamontage.mp4" type="video/mp4" class="w-full">
					Your browser does not support the video tag.
					</video>
	
					<div class="md:flex mt-2 md:mt-4 lg:mt-8">
						<h3 class="text-white font-size-72 md:hidden">
							Design
						</h3>
						<h3 class="text-white font-size-96 hidden md:inline w-2/5">
							Design
						</h3>
						<p class="text-white mt-8 font-size-18 md:w-3/5 md:mt-0 lg:ml-4 lg:mt-4">
							I always aim to give the client as close of a representation of the final product as possible, taking into account all screen sizes, accessibility and practicalities.
							<br>
							<br>
							Figma
							<PillImage imgAlt="Picture of modern architecture" imgName="figma" />
							lets me bring loose concepts to life. I add as much interactivity and animation to the initial prototype as possible.
						</p>
					</div>
				</div>
	
				<!-- web development -->
				<div class="mt-16 md:mt-24 lg:mt-48">
					
					<video autoplay loop muted playsinline>
						<source src="/assets/videos/codingmontage.mp4" type="video/mp4" class="w-full">
					Your browser does not support the video tag.
					</video>
	<!--  -->
					<div class="md:flex mt-2 md:mt-4 lg:mt-8">
						<h3 class="text-white font-size-72 md:w-2/5 md:hidden">
							development
						</h3>
						<div class="hidden md:block md:w-2/5">
							<h3 class="text-white font-size-96">
								develo
							</h3>
							<h3 class="text-white font-size-96">
								pment
							</h3>
						</div>
						<p class="text-white mt-8 font-size-18 md:w-3/5 md:mt-0 lg:ml-4 lg:mt-4">
							Development of the website can often be the most daunting part of the process, especially when it comes to communicating with clients. I never want to scare the client with <strong class="font-size-18">fancy tech jargan</strong> (that doesn’t really mean anything).
							<br>
							<br>
							I find the development of the website an engaging and thrilling process, where I can act out my <strong class="font-size-18">coding montage</strong>. Resisting my urge to nerd-out on any poor soul that happen to be in earshot, I discuss progress in an understandable and meaningful way throughout the process.
							<br>
							<br>
							After using countless website builders, such as WordPress, Shopify, and Squarespace, I came to the conclusion that coding websites from scratch would give me the most flexibility and creative freedom to get the job done.
						</p>
					</div>
				</div>

			</div>

		</article>
	</section>

	<section class="mt-40">
		<article class="px-4 md:px-16 wrapper lg:px-0">
			<h2 class="display-font text-stone-100 font-size-96">03/</h2>
			<h2 class="text-stone-100 font-size-96 mb-8" id="library">Library</h2>

			<LibraryItems />
		</article>
	</section>


</Layout>