@use '../abstracts' as *;
@use '../themes' as *;

::selection {
  background: #fff; /* WebKit/Blink Browsers */
  color: black;
}
::-moz-selection {
  background: #fff; /* Gecko Browsers */
  color: black;
}

html {
  cursor: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' r='3.5' fill='white' stroke='black'/%3E%3C/svg%3E"), auto;
}




