@use '../abstracts' as *;
@use '../themes' as *;

::selection {
  background: #fff; /* WebKit/Blink Browsers */
  color: black;
}
::-moz-selection {
  background: #fff; /* Gecko Browsers */
  color: black;
}

html {
  cursor: url('/assets/images/icons/cursor.png'), auto;
}




