---
// Global SCSS
import '../sass/global/global.scss';

// Global Layouts
import Header from '../layouts/Header.vue';
import Footer from '../layouts/Footer.vue';


// Cheeky Components
import Coffee from '../components/Coffee.astro';
import ComingSoon from '../components/utility/ComingSoon.vue';




export interface Props {
  title?: string;
  page?: string;
}

const { title = "Astro Webapp", page } = Astro.props as Props;

---


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ==== Font Awesome Icon (optional) ==== -->
    <script src="https://kit.fontawesome.com/c735b8632d.js" crossorigin="anonymous"></script>

    <!-- ==== Iconify Icons (optional) ==== -->
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>

    <!-- ==== SEO ==== -->
    <title>{ title }</title>
    <meta name="robots" content="all">
    <meta name="description" 
    content="Jacob Carter is a UI & UX designer and front-end developer, based in Gloucestershire, England, who builds gorgeous websites for startups, freelancers, and businesses.">
    <meta name="keywords" content="jacob, carter, web, design development, portfolio, gloucestershire, england, uk, cheltenham, website, website">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://iamjacobcarter.com" />
    <meta property="og:title" content="Jacob Carter's Digital Portfolio - Experienced UX Designer and Front-End Developer" />
    <meta property="og:description" content="Jacob Carter is a UI & UX designer and front-end developer, based in Gloucestershire, England, who builds gorgeous websites for startups, freelancers, and businesses." />
    <meta property="og:image" content="/og-image-600x900" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="900" />
    <meta property="og:image" content="/og-image-700x466" />
    <meta property="og:image:width" content="700" />
    <meta property="og:image:height" content="466" />
    <meta property="og:image" content="/og-image-600x800" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="800" />
    <meta property="og:image" content="/og-image-600x800" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="800" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Jacob Carter's Digital Portfolio" />
    <meta name="twitter:description" content="Jacob Carter is a UI & UX designer and front-end developer, based in Gloucestershire, England, who builds gorgeous websites for startups, freelancers, and businesses." />
    <meta name="twitter:image" content="/og-image" />
    <link rel="canonical" href="https://iamjacobcarter.com/">
    <link rel="canonicalize" href="https://iamjacobcarter.com/">
    <meta name="author" content="Jacob Carter">
    <!-- ===  Favicon === -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    
  </head>
  <body>
    
    <!-- Under construction page -->
    <!-- <ComingSoon /> -->


    <!-- 'Skip to main content' button for accessability -->
    <a href="#main-content" class="skip-main-content">
      Skip to main content
    </a> 
   
    <Header client:load pageName={page} />
    <div class="noise"></div>
    <Coffee />
    <!-- === Main Content === -->
    <main id="main-content" class="w-screen">

       <slot />

    </main>

    <Footer />

  </body>
</html>